body{
    background-repeat: no-repeat;
    background-size: cover;

}

#speedp,#volumep{
    width: 320px;
    height: 320px;
}

#left{
    float: left;
}

#right{
    float: right;
}


#note{
    text-align: center;
    color: azure;
}

canvas{
    border: 2px dashed whitesmoke;
}